################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/.idea
/.vs
/projets/.vs
/projets/projet_3/.vs
